body{
    margin: 0; padding-top:800px;
text-align: center;
} 
.profile{
    border-radius: 50%;
}
#welcome{
    position: absolute;
    bottom: 0px;
    background: linear-gradient(rgb(99, 251, 203) 0%,rgb(203, 136, 203) 100%);
    display: table;
    width: 100%;
    height: 100%;
}
h1{
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
}
#name{
    font-size: 50px;
    font-family: 'Rubik Distressed', cursive;
}
h2{
    font-size: 30px;
    font-family: monospace;
    font-weight: 300;
}
#bio{
    font-family: 'Rubik Burned', cursive;
    padding: 50px;
    word-spacing: 13px;
    color:crimson; 
    font-weight: bold;
}
.line{
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}
.parallax-inner{
 display: table-cell;
 vertical-align: middle;
}
.menu{
  background:white;
    position: fixed;
    top:0px;
    margin-top: 0px;
    width:100%;
    z-index: 10;
    cursor: pointer;
}
.links{
    display: inline;
    padding-left: 33px;
    padding-right: 25px;
    font-family: fantasy;
    font-size: 20px;
}
.links:hover{
    font-size: 25px;
    text-decoration: underline;
}
#contact{
    background:lightgrey;
    margin: 20px;
    width: 100%;
}
.contact_1 h3 {
    display: inline;
}
.contact_1{
    margin:20px;
}